doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Vlad's Stuff
    script(src='https://code.jquery.com/jquery-1.10.2.js')

  body
    .header

    ul.nav
      li: a(href='/') Home
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='/about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
